<div class="card">
  <div class="flex flex-column align-items-center">
    <div
      class="flex align-items-center justify-content-center title-card text-white border-round m-2">
      {{country}}
    </div>
    <div class="flex flex-row  card-container blue-container">
      <div class="sub-card flex flex-column align-items-center justify-content-center bg-blue-500 font-bold text-white border-round m-2">
        <div class="flex align-items-center justify-content-center text-white m-2 sub-card-title">
          Number of entries
        </div>
        <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2 sub-card-value">
          {{entries}}
        </div>
      </div>
      <div class="sub-card flex flex-column align-items-center justify-content-center bg-blue-500 font-bold text-white border-round m-2">
        <div class="flex align-items-center justify-content-center text-white m-2">
          Number of Medals
        </div>
        <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
          {{medalsCount}}
        </div>
      </div>
      <div class="sub-card flex flex-column align-items-center justify-content-center bg-blue-500 font-bold text-white border-round m-2">
        <div class="flex align-items-center justify-content-center text-white m-2">
          Number of Athletes
        </div>
        <div class="flex align-items-center justify-content-center font-bold text-white m-2">
          {{athletesCount}}
        </div>
      </div>
    </div>
    <p-chart type="bar" [data]="data" [options]="options" width="60vw" height="75vh"></p-chart>
    <button type="button" (click)="goBack()">Go back</button>
  </div>
</div>
