<div class="flex justify-content-center">
  <div class="flex flex-column align-items-center">
    <div class="title-card flex">Medals per Country</div>
      <div class="flex flex-row">
        <div class="flex align-items-center">
          <div class="sub-card flex">
            <div class="flex sub-card-title">Number of JOs</div>
            <div class="flex sub-card-value">{{joCount}}</div>
          </div>
        </div>
        <div class="flex align-items-center">
          <div class="sub-card flex">
            <div class="flex sub-card-title">Number of countries</div>
            <div class="flex sub-card-value">{{countryCount}}</div>
          </div>
        </div>
      </div>
    <p-chart type="pie" [data]="data" [options]="options" width="40vw" height="60vh" (onDataSelect)="getCountry($event)"></p-chart>
  </div>
</div>
