<div class="flex justify-content-center">
  <div class="flex flex-column align-items-center">
    <div class="title-card flex bg-cyan-500 font-bold border-round justify-content-center align-items-center text-white">Medals per Country</div>
      <div class="flex flex-row border-blue-900">
        <div class="m-5 flex align-items-center justify-content-center">
          <div class="boxed-card border-solid border-3 border-round flex align-items-center justify-content-center flex-column flex-wrap">
            <div class="flex justify-content-center align-items-center text-black-alpha-60 text-p">Number of JOs</div>
            <div class="flex justify-content-center align-items-center font-bold text-p">{{joCount}}</div>
          </div>
        </div>
        <div class="m-5 flex align-items-center justify-content-center">
          <div class="boxed-card border-solid border-3 border-round flex align-items-center justify-content-center flex-column flex-wrap">
            <div class="justify-content-center align-items-center text-black-alpha-60 text-p">Number of countries</div>
            <div class="justify-content-center align-items-center text-black-alpha-100 font-bold text-p">{{countryCount}}</div>
          </div>
        </div>
      </div>
    <p-chart type="pie" [data]="data" [options]="options" width="40vw" height="60vh" (onDataSelect)="getCountry($event)"></p-chart>
  </div>
</div>
