.boxed-card{
  border-color: #04838f;
  height: 10vh;
  width: 10vw;
  //margin: 2% 2%;
  margin-outside: 2%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text-p{
  //margin: 2% 2%;
}
.title-card{
  height: 10vh;
  width: 15vw;
}
