@import "primeflex/primeflex.min.css";
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";

.title-card {
  background: #04838f;
  margin: 1% 2%;
  font-weight: bold;
  color: white;
  border-radius: 5%;
  padding: 2% 2%;
}

.sub-card{
  border-color: #04838f;
  border-style: solid;
  border-width: thick;
  border-radius: 5%;
  margin: 2%;
  padding: 5%;
  text-align:center;
}
sub-card-title{
  text-size-adjust: auto;
  color: #727272;
}
.sub-card-value{
  color: black;
  font-weight: bold;
}

.pie-chart{
  width: 40vw;
  height: 50vh;
}

.bar-chart{
  width: 60vw;
  height: 60vh;
}
.pi-arrow-circle-left{
  color: #04838f;
  font-size: 2rem;
}

